.main{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.head{
  margin-top: -50px;
}

.motive{
  margin-top: 40px;
}